html, body, #app, #app>div {
  width:100%;
}

.App {
  text-align: center;
}

.container{
  display: flex; /* or inline-flex */
  background-image: url("./image/1.png");

  flex:1;
  height: 100vh
}

.C1{
  flex: 0.05;
}
.C2{
  flex: 0.45;
  height: 100vh;
}
.cardBox{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.C1container{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: flex-end;
}
.planet{
  height: 10vh;
  margin-top: 85vh;
}

.card{
  background-image: url("./image/paper.jpg");
  height: 70vh;
  width: 30vw;
  align-items: center;
}
.card-body{
  margin-top: 15%;
  height: 50vh;
  width: 25vw;

}
.C3{
  flex: 0.5;
}

.machineBack{
  background-color: transparent;
  border: none;
}
.machine {
  height: 100vh;
}
@media (min-width: 576px){
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px){
  .container {
    max-width: 100%;
  }

}


